body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Login Page */
.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.login-box label {
  font-weight: bold;
  margin-top: 10px;
}

.login-box input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  margin-top: 20px;
  background: #0077ff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #005ad3;
}

.error {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

/* Weather */
.weather-container {
  text-align: center;
  padding: 30px;
}

.weather-box {
  background: white;
  margin: auto;
  padding: 20px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.weather-box input {
  padding: 10px;
  width: 70%;
  border: 1px solid gray;
  border-radius: 5px;
}

.weather-result {
  margin-top: 20px;
}
